{
	"extends": [
		"plugin:react-hooks/recommended",
		"plugin:@tanstack/eslint-plugin-query/recommended"
	],
	"plugins": ["@tanstack/query","react-refresh"],
	"rules": {
		"react-refresh/only-export-components": [
			"warn",
			{ "allowConstantExport": true }
		]
	}
}
